pyspark
pandas
numpy
apache-airflow
apache-airflow-providers-apache-spark
apache-airflow-providers-common-compat
requests
validators
email-validator
deep-translator
swifter
chardet
beautifulsoup4
python-dotenv
azure-storage-blob
azure-storage-file-datalake
hdfs
sqlalchemy
pymilvus
geopy
tqdm
pillow
findspark

